.container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.channelList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;
}

.channelContainer {
  padding: 5px 10px;
  flex-grow: 1;
  border-radius: 3px;
  cursor: pointer;
}

.channelContainer:hover:not(.selected) {
  background-color: rgb(60, 60, 60);
}

.selected {
  background-color: rgb(40, 40, 40);
}
